aws_region   = "us-east-1"
project_name = "securestyle"
environment  = "demo"

repository_url    = "https://github.com/WANNABE003/AWS-Cloud-Security-TC1L-G19.git"
repository_branch = "main"

alert_email = ""
enable_alb  = false
enable_waf  = false
